body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  /* cursorとはマウスカーソルの形を指定するプロパティ */
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.incomplete-task-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-task-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;

  /* min-heightとは<div>、<p>など、内容領域における高さ最小値を指定するプロパティです。最小値を指定しておくと、要素の高さ指定された数値以下になりません。 */
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  /* 横並びのズレを修正 */
  align-items: center;
  padding-bottom: 4px;

  /* display: flex; CSSの新しいレイアウト技法で、HTMLブロックを横並びにすることができます。 */
  /* 親要素をdisplay:flexを設定して(フレックスコンテナにして)、子要素を横並びにすることができます。 */
}
